* {
    margin: 0;
    padding: 0;
}

#main_dark {
    height: 100vh;
    background-color: hsl(235, 21%, 11%);
    color: hsl(236, 9%, 61%);
}

#main_light {
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
}
  
.banner_dark {
    background-image: url('./assets/bg-desktop-dark.jpg');
    width: 100%;
    height: 250px;
}

.banner_light {
    background-image: url('./assets/bg-desktop-light.jpg');
    width: 100%;
    height: 250px;
}

#area {
    display: grid;
    gap: 1rem;
    width: 40%;
    margin: 0 auto;
    margin-top: -200px;
    z-index: 99;
    position: relative;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 1rem;
        color: white;
    }

    .input {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-radius: .5rem;

        input:first-child {
            background-color: transparent;
            width: 5%;
            height: 2.5rem;
            border-radius: 100%;
            margin: 0 auto;
        }

        input:last-child {
            background-color: transparent;
            width: 90%;
            height: 2.5rem;
            font-size: large;
            border: none;
            outline: none;
        }
    }

    .hidden {
        display: none;
    }

    .todoList {
        display: grid;
        border-radius: .5rem;
        overflow: hidden;

        .todo {
            border-bottom: 1px solid hsl(235, 19%, 35%);
            height: 2rem;
            padding: .5rem 1.5rem .5rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            div {
                display: flex;
                align-items: center;
                gap: .5rem;
                width: 100%;

                input {
                    width: 5%;
                    height: 1rem;
                    border: none;
                    outline: none;
                }

                p {
                    width: 90%;
                    text-wrap: wrap;
                }
            }

            img:hover {
                cursor: pointer;
            }
        }

        .base {
            /* background-color: ; */
            height: 2.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
            font-size: small;
            padding: 0 1.5rem;
            color: hsl(236, 9%, 61%);

            .filter {
                display: flex;
                gap: 1rem;
            }
        }
    }
}
  
@media (max-width: 375px) {
    .banner_dark {
        width: 100%;
        background-repeat: no-repeat;
        height: 200px;
        background-image: url('./assets/bg-mobile-dark.jpg');
    }

    .banner_light {
        width: 100%;
        background-repeat: no-repeat;
        height: 200px;
        background-image: url('./assets/bg-mobile-light.jpg');
    }

    #area {
        width: 90%;
        margin-top: -150px;

        .todoList {
            .base {
                .filter {
                    display: none;
                }
        }
        }
    }
}